.subtitle-hightlight{
    background-color: #f582ae ;
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.subtitle-font-size{
    font-size: 17px;
}

.why-choose-us-heading{
    margin-top: 50px ;
}

.why-choose-us-card{
    background-color: white;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 0px 10px 1px #194d4d;
}

.why-choose-us-img{
    height: 60px;
    display: block;
    margin: 10px auto;
}

.why-choose-us-container{
    display: flex;
    justify-content: space-around;
    background-color: #f3d2c1;
    margin: 20px 0;
    padding: 20px;
}

.header-section{
    display: flex;
}

.header-img-container{
    
    width: 50%;
}
.header-img{
    height: 200px;
    border: 10px solid #f3d2c1;
    display: block;
    margin: 20px auto;

}

.header-description-container{
    width: 50%;
}
