
@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Lobster&family=Oswald:wght@200..700&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kalnia+Glaze:wght@100..700&family=Lobster&family=Oswald:wght@200..700&family=Pacifico&display=swap');


body{
    background-color: #fef6e4;
    margin: 0;
    padding: 0;    
}

.Lobster{
    font-family: 'Lobster';
    font-size: 60px;
}

.dancing-script{
    font-family: 'dancing-script',cursive;
}

.bg-light{
    background-color: #fec7d7;
}

.bg-primary{
    background-color: #8bd3dd;
       
}

.bg-secondary{
    background-color:  #a786df;
}

.text-primary{
    color: #121e3a;
}

.text-secondary{
    color: #d9d4e7;
}

.text-dark{
    color:  #707786;
}

.text-center{
    text-align: center;
}

.btn{
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 15px #f9f8fc;
    color: #001858;
    font-weight: bold;
}

.btn-primary{
    background-color: #f582ae;
}

.btn-secondery{
    background-color:  #a786df ;
}

.no-underline{
    text-decoration: none;
}